<div class="page-title">
    <h1><?php echo $this->__('Ciaooo'); ?></h1>
</div>
<div class="content">
    <p><?php echo $this->__('The custom message is:'); ?>
        <b><?php echo $this->getMessage(); ?></b>
    </p>
</div>